body {
  font-family: arial, sans-serif;
  background-image: url(./weather2.jpg);
  background-size: cover;
}

h1,
h2,
h3 {
  font-family: "Dancing Script", cursive;
}

h1 {
  color: #5585b5;
  font-size: 30px;
  font-weight: 100;
  line-height: 28px;
  margin-bottom: 0;
}

ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
  margin: 0;
  padding: 0;

  color: #5585b5;
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  font-weight: 100;
  line-height: 20px;
}

li:first-letter {
  text-transform: capitalize;
}
.logo {
  display: block;
  margin: 30px auto;
  width: 150px;
}
.coder {
  text-align: center;
  margin: 30px auto;
}
.weather-app-wrapper {
  max-width: 600px;
  margin: 40px auto;
  padding: 40px;
  border-radius: 50px;
  background: radial-gradient(
    592px at 48.2% 50%,
    rgba(255, 255, 249, 0.6) 0%,
    rgb(160, 199, 254) 74.6%
  );
}

.weather-app {
  padding: 20px;
  border: 1px solid #dadde1;
  border-radius: 50px;
}

.overview {
  margin-bottom: 20px;
}

.weather-temperature img {
  margin-right: 5px;
  height: 70px;
  width: 70px;
}

.weather-temperature strong {
  color: rgb(33, 33, 33);
  font-family: "Dancing Script", cursive;
  font-size: 64px;
  line-height: 1;
  font-weight: 400;
}

.weather-temperature .units {
  position: relative;
  font-family: "Dancing Script", cursive;
  font-size: 16px;
  top: -34px;
}

.weather-temperature .active {
  color: rgb(33, 33, 33);
  cursor: default;
}

.weather-temperature .active:hover {
  text-decoration: none;
}

.weather-forecast {
  border-radius: 30px;
  border: 1px solid #dadde1;
  margin-top: 20px;
  text-align: center;
  color: #000;
}

.weather-forecast-date {
  font-family: "Dancing Script", cursive;
  font-size: 20px;
  opacity: 0.5;
}

.weather-forecast-temperature-min {
  opacity: 0.5;
}

.weather-forecast-temperatures {
  font-family: "Dancing Script", cursive;
  font-size: 15px;
}
